.App {
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 255, 255);
  background-color: #6e798a;
}
.ads{
  text-align: center;
}

h3{
  font-style: inherit; 
}

.title {
  font-style: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  height: 250px;
  width: 250px;
  min-width: auto;
  min-height: auto
}
