.button {
  border-radius: 30px;
  font-size: 25px;
  color: goldenrod;
  background: green;
  cursor: pointer;
}

.sellButton {
  margin-top: 100px; 
  border-radius: 20px;
  font-size: 25px;
  color: goldenrod;
  background: green;
  cursor: pointer;

}

h3{
  font-size: 25px;
}